   
    html { 
      background: url('/src/image/background1.jpeg') no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .badge-pill {
      background-color: royalblue;
    }
    body {
      background-color: transparent;
      color: rgb(255, 255, 255);
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      margin: 70px 0;
    }

    .chatbar {
      background: rgba(119, 0, 255, 0.281);
      border-top: 1px solid black;
      bottom: 0;
      padding: 5px;
      margin: 0 auto;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .chatbar-message,
    .chatbar-username {
      border: 1px solid black;
      display: block;
      height: 40px;
      line-height: 40px;
      margin: 5px;
      padding: 0 9px;
    }

    .chatbar-message {
      display: inline;
    }

    .chatbar-username {
      display: inline;
    }

    .message {
      padding: 5px;
    }

    .messages {
      background-color: rgba(255, 255, 255, 0.281);
      bottom: 50px;
      height: 20em;
      overflow: auto;
      word-wrap: break-word;
    }

    .message.system {
      font-style: italic;
      padding: 5px 20px;
    }

    .client-count {
      font-size: 1em;
      margin: 0;
    }

    .message-content,
    .message-username {
      overflow: hidden;
      margin: 5px;
      padding: 0 10px;

    }
    .message-username {
      color: white;
    }
    .message-content {
    }

    .message-username {
      font-weight: 700;
      background-color: blanchedalmond;
    }

    .navbar {
      background: rgba(119, 0, 255, 0.281);
      font-family: 'Quicksand', sans-serif;
      border-bottom: 1px solid black;
      height: 60px;
      padding: 0 10px;
      color: white;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .chat-main {
      border-radius: 10px;
    }

    .navbar-brand {
      color: inherit;
      display: block;
      float: left;
      font-weight: 700;
      font-size: 28px;
      height: 60px;
      line-height: 60px;
      padding: 0 10px;
      text-decoration: none;
    }
    